@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {

}


header {
  
   
    background: #fff;
    width: 100%;
    background: #fff;
    border-bottom: 5px solid rgb(28, 28, 28);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    
}


header .gnb {
    
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;

   
}

header .gnb a {
    color: #444;
    font-weight: 500;
}


header .gnb h1.logo {
    float: left;
    line-height: 80px;
    text-align: left;
    
    
}

header .gnb h1.logo img {
    height: 60px;
    vertical-align: middle;
}


header .gnb .menu {
   
    float: left;
    width: 60%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-left: 80px;
}

header .gnb .menu a:hover {
    color: dodgerblue;
}

header .gnb .menu ul {
    display: inline-block;
}

header .gnb .menu ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 16px;
}

header .gnb .info {
    float: right;s
    height: 80px;
    text-align: right;
    line-height: 80px;

   
}

header .gnb .info a img {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}


main {
    
}

.main-banner {
    padding-top: 80px;
    background-image: url(../img/main_banner.png);
    width: 1240px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    cursor: pointer;

}

main .main-banner {

    font-size: 30px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);

}



main .banner-sub {
    margin: 0 auto;
    width: 1240px;
    background-color: rgb(189, 189, 189);
    padding: 10px 0px;
    font-size: 30px;
    text-indent: 10px;
    margin-bottom: 20px;
}

main .banner-sub a {
    color: #444;
}

.main-banner {
    background-image: url(../img/main_banner.png);
    max-width: 1240px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    cursor: pointer;
}



.main-banner {
    position: relative;
}


.main-banner .scroll {
    position: absolute;
    bottom: 40px;
   
    left: 0;
    width: 100%;

}


.main-banner .scroll .bar {
    background-color: dimgray;
    width: 80%;
    margin: 0 auto;
    position: relative;
}


.main-banner .scroll .bar .thumb {
    width: 25%;
    background-color: white;
    font-size: 0;
    height: 5px;
    margin: 0;
    cursor: pointer;
}


.main-banner .scroll a {
    position: absolute;
    right: 50px;
    transform: translateY(-70%);
}


.main-banner .scroll img {}


.display {
    
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
    
}



.area-box {
    margin-bottom: 20px;
    
    
}

.display .now {

    font-weight: 700;
    display: inline-block;
    
    
}

.display .now a {
    color: #444
    
}

.display .area {
    display: inline-block;
    margin-left: 10px;

}


section .display h2 a {}

.display .area li {
    display: inline-block;
    vertical-align: mi;
    margin-right: 10px;

}



.area a {
    color: #444;
    
}

.area a:hover {
    color: dodgerblue;
}


.poster-wrap {
    width: 1240px;
    margin: 0 auto 140px;
    
   
}

.poster-wrap .poster {
    float: left;
    width: 295px;
    margin-left: 20px;
    position: relative;
    
}


.poster-wrap .poster:first-child {
    margin-left: 0;
}


.poster-wrap .poster a.photo img {
    width: 100%;
    display: block;
}

.poster-wrap .poster .caption {
    text-align: center;
    margin-top: 15px;
}

.poster-wrap .poster .caption .date {}

.poster-wrap .poster .caption .date a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.poster-wrap .poster .caption .date a:hover {
    color: dodgerblue;
}

.poster-wrap .poster .caption .name {}

.poster-wrap .poster .caption .name a {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.4;
    text-indent: 30px;
    font-size: 20px;

}

.poster-wrap .poster .name a:hover {
    color: dodgerblue;
}

/* 진행 뱃지 */
.poster-wrap .poster .open {
    position: absolute;
    top: 10px;
    right: 10px;
}
.poster-wrap .poster .open a {
    display: inline-block;
    padding: 4px 10px;
    background: #eee;
    color: #000;
    font-size: 13px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.poster-wrap .poster .open a:hover {
    background-color: tomato;
}


.display .scroll {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;

}


.display .scroll .bar {
    background-color: lightgray;
    width: 80%;
    margin: 0 auto;
    position: relative;
}


.display .scroll .bar .thumb {
    width: 25%;
    background-color: dimgray;
    font-size: 0;
    height: 5px;
    margin: 0;
    cursor: pointer;
}


.display .scroll a {
    position: absolute;
    right: 50px;
    transform: translateY(-70%);
}



.story {

    max-width: 1240px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/artist_ron.jpg')right, top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 400px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;

}


.story h2 {
    position: relative;
    top: -55px;
    
}

.story h2 a {
    color: #444;
}


.story .scroll {
    position: absolute;
    bottom: 40px;
    /* 하단에서 띄움 */
    left: 0;
    width: 100%;

}

.story .scroll .bar {
    background-color: dimgray;
    width: 80%;
    margin: 0 auto;
    position: relative;
}


.story .scroll .bar .thumb {
    width: 25%;
    background-color: white;
    font-size: 0;
    height: 5px;
    margin: 0;
    cursor: pointer;
}


.story .scroll a {
    position: absolute;
    right: 50px;
    transform: translateY(-70%);
}

.story .scroll img {}

.story .story-caption a {
    color: rgb(50, 50, 50)
}

.story .story-caption a:hover {
    color: cornflowerblue;
}



.story img {}

.story a h2 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 40px;
}

.story .story-caption {
    position: absolute;
    bottom: 80px;
    right: 60px;
    text-align: right;
    font-weight: 500;
    color: rgb(105, 230, 184);
}

.story .story-caption:hover .photo h2 {
    opacity: 0.7;

}


.story .story-caption h3 {
    font-size: 60px;
    font-weight: 500;
    
}

.story .story-caption h3 span {
    padding-left: 10px;
    font-size: 30px;
}

.education-inner {}

.education-inner h2 {
    text-align: left;
    margin-bottom: 20px;
    max-width: 1240px;
    margin: 0 auto 20px;
}

.education-inner h2 a {
    color: #444;
}

.education {
    display: table;
    width: 1240px;
    max-width: 1240px;
    height: 400px;
    margin: 0 auto;
    background-color: dimgray;
    margin-bottom: 50px;
   
}

.education .txt-box,
.education .img-box {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.education .txt-box {
    padding: 40px 50px;
    color: white;
}

.education .txt-box .edu {}

.education .txt-box p {}

.education .txt-box h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
.education .txt-box .eng {}
.education .txt-box .eng span {
    font-size: 20px;
}

.education .txt-box .acc {}

.education .txt-box .des {}



.education img {
    width: 100%;
    height: auto;
    display: block;

}

.education .reserve {
    margin-top: 30px;
    display: inline-block;
    background-color: gainsboro;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #888;
    font-weight: 700;
}

.education .reserve a {
    color: #444;
}

.education .reserve:hover {
    background-color: lightsalmon;
    color: gray;
    font-weight: 700;
}


.place {

    width: 1240px;
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
}

.place h2 {
    margin-bottom: 20px;
}

.place h2 a {
    color: #444;
}

.place .long-box {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.place .long-box a {
    display: block;
    width: 100%;
    position: relative;
}

.place .long-box img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
}


.place .long-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.place .long-box:hover::before {
    background-color: rgba(0, 0, 0, 0.4);
}


.place .long-box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, );
    color: white;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    border-radius: 4px;

}

.place .long-box:hover p {
    opacity: 1;
}


.place .notice {
    text-align: center;
}

.place .news {

    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
    color: rgb(50, 50, 50);

}

footer {
    background-color: dimgray;
    width: 100%;
    margin-top: 0px;
}

footer p {
    color: white;
    width: 1240px;
    margin: 0 auto;
    text-align: right;
    padding: 40px 0;
    line-height: 1.8;
    font-size: 14px;
}